<h1>Players#index</h1>
<p>Find me in app/views/players/index.html.erb</p>
<div id="posts">
  <%= render partial: 'players/players', locals: { players: @players } %>
</div>
<div id="paginator"><%= render partial: "paginator", locals: { pagy: @pagy } %></div>
